@model Atlas_Web.Pages.Settings.IndexModel
<div>
    <div class="drop-box">
        <div><strong>Site wide message:</strong> Name="msg", Value=""</div>
        <div><strong>Url param message:</strong> Name="msg", Value="&lt;number&gt;". Accessed by "/?msg=&lt;number&gt;"</div>
    </div>
    @if (ViewBag.Permissions.Contains(45))
    {

        <h4 class="drop" data-toggle="clps" data-target="collapse-globals-new">New Setting
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/></svg>
        </h4>
        <div id="collapse-globals-new" class="clps">
            <div class="drop-box">
                <form asp-page-handler="AddGlobalSetting" method="post">
                    <h3>Details</h3>
                    <div class="listDetails">
                        <label>Name</label>
                        <input type="text" asp-for="GlobalSiteSettings.Name"  />
                        <label>Value</label>
                        <input type="text" asp-for="GlobalSiteSettings.Value"  />
                    </div>
                    
                    <h3>Description</h3>
                    <div class="editor" data-inputName="GlobalSiteSettings.Description" data-inputId="GlobalSiteSettings_Description"><textarea></textarea></div>
                    
                    <h3><button class="editor-save" type="submit">Save</button></h3>
                </form>
            </div>
        </div>
    }

    @if (ViewBag.GlobalSettings.Count < 1)
    {
        @:Nothing to show.
    }
    else
    {
        @foreach (var i in ViewBag.GlobalSettings)
        {
            <h4 class="drop" data-toggle="clps" data-target="collapse-globals-@i.Id">@i.Name [@i.Value]
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/></svg>
            </h4>
            <div id="collapse-globals-@i.Id" class="clps">
                <div class="drop-box">
                    
                    <div class="markdown">
                        @Html.Raw(i.Description)
                    </div>
                    @if (ViewBag.Permissions.Contains(44))
                    {
                        <a href="/Settings?handler=DeleteGlobalSetting&Id=@i.Id">Delete</a>
                    }
                </div>
            </div> 
        }
    }
</div>
