.prg {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1021;
}

.prg div {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  background-color: #007bff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  transition: width 0.6s ease;
}
