<div>
	@if(ViewBag.Groups.Count > 0)
	{
		<div class="table-responsive">
			<table class="table sort" aria-label="groups">
				<thead>
					<tr>
						<th>Group Name</th>
						<th>Type</th>
						<th>Source</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var s in ViewBag.Groups)
					{
						<tr>
							<td><a href="/groups?id=@s.Id">@s.Name</a></td>
							<td>@s.Type</td>
							<td>@s.Source</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	} else {
	<p>No groups to show.</p>
}
</div>
