
@model Atlas_Web.Pages.Reports.IndexModel
@{
    var i = 0;
}
@if (ViewBag.ReportImages.Count > 0)
{
    <h3 class="pageSection-title">Images</h3>

    @if (ViewBag.ReportImages.Count == 1)
    {
        <div class="pop text-center" style="max-height:400px;">
            <img class="img-responsive" src="/data/img?handler=Thumb&id=-1&imgId=@ViewBag.ReportImages[0].Id&size=1200x400" alt="Main report image" style="max-width: 98%;max-height: 390px;min-height: 1px;">
        </div>
    }
    else if (ViewBag.ReportImages.Count > 1)
    {
        <div class="crsl">
            @foreach (var img in ViewBag.ReportImages)
            {
                <div class="crsl-itm pop">
                    @if(i > 0)
                    {
                        <img data-src="/data/img?handler=Thumb&id=-1&imgId=@img.Id&size=1200x400" src="/img/loader.gif" />
                    } else {
                        <img src="/data/img?handler=Thumb&id=-1&imgId=@img.Id&size=1200x400"/>
                    }
                </div>
                i++;
            }
            <div class="crsl-ind">
                @{
                    i = 0;
                }
                @foreach( var img in ViewBag.ReportImages)
                {
                    <span  class="crsl-dot" slide="@i"></span>
                    i++;
                }
            </div>
            <a class="crsl-prev">
                <i class="fas fa-chevron-left fa-lg"></i>
            </a>
            <a class="crsl-next">
                <i class="fas fa-chevron-right fa-lg"></i>
            </a>
        </div>
    }
}
