@model Atlas_Web.Pages.Reports.IndexModel

@* only show this if there are other tabs present. *@
@if (Model.Report.ReportObjectImagesDocs.Any() || ViewBag.HasDescription || !string.IsNullOrEmpty(Model.Report.RepositoryDescription) || Model.Terms.Any() && (@Configuration["features:enable_terms"] == null || @Configuration["features:enable_terms"].ToString().ToLower() == "true") || Model.Report.ReportObjectQueries.Any() || Model.ComponentQueries.Any() || Model.Parents.Any() || Model.Children.Any() ||  (Model.Report.ReportGroupsMemberships.Any() && ViewBag.Permissions.Contains("View Groups")) || Model.Report.CollectionReports.Any() || Model.Report.ReportObjectDoc != null && Model.Report.ReportObjectDoc.MaintenanceLogs.Any())
{
<nav class="breadcrumb">
    <ul>
        @if (Model.Report.ReportObjectImagesDocs.Any())
        {
            <li>
                <a href="#images">Images</a>
            </li>
        }

        @if (ViewBag.HasDescription || !string.IsNullOrEmpty(Model.Report.RepositoryDescription)) {
            <li>
                <a href="#description">Description</a>
            </li>
        }

       @if (Model.Terms.Any() && (@Configuration["features:enable_terms"] == null || @Configuration["features:enable_terms"].ToString().ToLower() == "true"))
       {
            <li>
                <a href="#terms">Terms</a>
            </li>
       }

        <li>
            <a href="#details">Details</a>
        </li>

        @if (Model.Report.ReportObjectQueries.Any() || Model.ComponentQueries.Any())
        {
            <li>
                <a href="#query">Query</a>
            </li>
        }

        @if (Model.Parents.Any() || Model.Children.Any() ||  (Model.Report.ReportGroupsMemberships.Any() && ViewBag.Permissions.Contains("View Groups")) || Model.Report.CollectionReports.Any())
        {
            <li>
                <a href="#relationships">Relationships</a>
            </li>
        }

        @if (Model.Report.ReportObjectDoc != null && Model.Report.ReportObjectDoc.MaintenanceLogs.Any())
        {
            <li>
                <a href="#maintenance">Maintenance</a>
            </li>
        }

    </ul>
</nav>
}
