@inject IConfiguration Configuration
@model Atlas_Web.Pages.Reports.IndexModel


<h2 id="terms" class="title is-2">Terms</h2>
<div class="columns is-multiline">
    @foreach (var t in Model.Terms.ToList())
    {
        <div class="column is-half ">
            <partial name="Terms/_Snippet" model="t" />
        </div>
    }
</div>
