

@model Atlas_Web.Pages.Initiatives.IndexModel



<div class="pageTitle">
    <h2 class="pageTitle-head">@ViewData["Title"]</h2>
</div>

@foreach(var i in Model.AllInitiatives)
{
	<h4 class="drop" data-toggle="clps" data-target="collapse-initiative-@(i.Id)">@i.Name
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/></svg>
    </h4>

    <div id="collapse-initiative-@(i.Id)" class="clps">
	    <div class="drop-box">
	        <h5><a class="drop-link" href="/Initiatives?id=@i.Id">Open This Initiative</a></h5>
	        @if (i.Description != null && i.Description != "")
	        {               
	            <div class="markdown">
	                @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(i.Description))
	            </div>
	        }
	    </div>
	</div>
}
