@model Atlas_Web.Pages.Initiatives.IndexModel
@using Atlas_Web.Models

<h1 class="title is-1">@ViewData["Title"]</h1>

<div class="columns is-multiline">
    @foreach(var i in Model.Initiatives)
    {
        <div class="column is-half ">
            <partial name="_Snippet" model="i" />
        </div>
    }
</div>
