node_modules/*
web/wwwroot/css/*.css
web/wwwroot/lib/*
web/solr/*
web/bin/*
web/obj/*
web/wwwroot/font/rasa/*
web/wwwroot/font/inter/*
web/wwwroot/font/source-code-pro/*
web/wwwroot/lib/codemirror/*
web/wwwroot/lib/flowchart/*
web/wwwroot/lib/highlight/*
*.min.js
*.build.js
coverage/*
coverage*
**/Migrations/*
web.Tests/bin/*
web.Tests/obj/*
web.Tests/*
out/
.lighthouseci/*
idp/
package-lock.json
