{
  "branch": "master",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/npm", {
      "publish": "false"
    }],

    ["@semantic-release/exec", {
      "prepareCmd" : "echo ${nextRelease.version} > web/version"
    }],
    ["@semantic-release/git", {
      "assets": ["package.json", "web/version"]
    }],
    "@semantic-release/github"
  ]
}
