@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Atlas_Web.Pages.Reports.IndexModel


<h3>Add Link to Collection</h3>
<form asp-page="/Reports/Index" asp-page-handler="AddLinkedCollection" method="post" id="report-editor-add-new-collection-form">
    <input asp-for="DpReportAnnotation.ReportId" type="hidden" value="@Model.Report.Id"/>
        <div class="listDetails">

        <label>Collection Name</label>
        <input type="dynamic-dropdown" class="head-light" data-head="Name" asp-for="DpReportAnnotation.DataProjectId" value="" visible-value="" search-area="CollectionSearch" />
         </div>

        <h3><button class="editor-save" type="submit">Save</button></h3>
</form>

<div id="report-editor-currentcollections-container">
    <partial name="Editor/_CurrentCollections" />
</div>
