@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Atlas_Web.Pages.Reports.IndexModel

<h3>Developer Description</h3>
<div class="editor" data-inputName="ReportObjectDoc.DeveloperDescription" data-inputId="ReportObjectDoc_DeveloperDescription" data-saveUrl="/Reports?handler=NewDescription"><textarea>@Html.Raw(Model.Report.DeveloperDescription)</textarea></div>

<h3>Key Assumptions</h3>
<div class="editor" data-inputName="ReportObjectDoc.KeyAssumptions" data-inputId="ReportObjectDoc_KeyAssumptions" data-saveUrl="/Reports?handler=NewKeyAssumptions"><textarea>@Html.Raw(Model.Report.KeyAssumptions)</textarea></div>
