<div class="new_message_template">
	<div class="mlbx-newMsg">
		<form class="mlbx-newMsgForm" action="/mail?handler=SendMail" method="post">
			<div>
				<input type="hidden" id="convid" />

				<button type="submit" class="mlbx-newMsgSend">
					<i class="far fa-paper-plane fa-lg"></i>
				</button>

			    <div class="mlbx-newMsgSender">
			    	<span>From:</span><span>@User.GetUserName() (you)</span></div>
			    <div class="mlbx-dvdr"></div>
			    <div class="mlbx-newMsgRecip">
			    	<span>To:</span><select id='new_msg_dynamic-dropdown' class="slim" id="user" search-area='UserSearchMail' placeholder=" " ></select></div>
			    <div class="mlbx-dvdr"></div>
			    <div class="mlbx-newMsgSubj">
			    	<span>Subject:</span><div class="mlbx-newMsgSubjIpt" contenteditable="true"></div>
			    </div>
			    <div class="mlbx-dvdr"></div>
			</div>
			<div class="mlbx-newMsgMsgBx">
		    	<div class="mlbx-newMsgMsg" contenteditable="true"></div>
		    </div>
		</form>
	</div>
</div>
