@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

<cache>
    <div>
        @if(ViewBag.NewestApprovedTerms.Count + ViewBag.NewestTerms.Count > 0)
        {
            <h4>Terms</h4>
            @foreach (var term in ViewBag.NewestApprovedTerms)
            {
                <a href="/Terms?id=@term.Id">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="margin-right:5px;margin-bottom:-3px"><path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>@term.Name.Replace('_', ' ')
                </a>
            }
            @foreach (var term in ViewBag.NewestTerms)
            {
                <a  href="/Terms?id=@term.Id">@term.Name.Replace('_', ' ')</a>
            }
        }
    </div>
</cache>
