

$fontDir: "/font/inter/";
@import "../../../../node_modules/@fontsource/inter/scss/mixins";

@include fontFace(
  $fontName: Inter,
  $weight: 400,
  $display: swap,
  $unicodeMap: latin,
  $fontDir: "/font/inter/files/"
);


@include fontFace(
  $fontName: Inter,
  $weight: 500,
  $display: swap,
  $unicodeMap: latin,
  $fontDir: "/font/inter/files/"
);

@include fontFace(
  $fontName: Inter,
  $weight: 600,
  $display: swap,
  $unicodeMap: latin,
  $fontDir: "/font/inter/files/"
);

@include fontFace(
  $fontName: Inter,
  $weight: 700,
  $display: swap,
  $unicodeMap: latin,
  $fontDir: "/font/inter/files/"
);

$fontDir: "/font/rasa/";
@import "../../../../node_modules/@fontsource/rasa/scss/mixins";

@include fontFace(
  $fontName: Rasa,
  $weight: 600,
  $display: swap,
  $unicodeMap: latin,
  $fontDir: "/font/rasa/files/"
);

@import "../../font/fontawesome/stylesheet";



$font-serif: "Rasa", "Georgia", "Times New Roman", serif;
$font-serif-body: "nytimperial", "Georgia", "Times New Roman", serif, -apple-system,
  "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-atlas-a: "marck_scriptregular", "Georgia", "Times New Roman", serif;

$family-sans-serif:'Inter', -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue",
  "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

$font-san-serif: $family-sans-serif;
