@model Atlas_Web.Pages.Tasks.IndexModel
<nav class="breadcrumb">
    <ul>
        <li>
            <a class="tab-lnk active" href="#recommendretire">To Retire</a>
        </li>
        <li>
            <a class="tab-lnk" href="#dead">Unused</a>
        </li>
        <li>
            <a class="tab-lnk" href="#maintenancerequired">To Maintain</a>
        </li>
        <li>
            <a class="tab-lnk" href="#auditonly">Audit Only</a>
        </li>
        <li>
            <a class="tab-lnk" href="#missingschedule">No Maint Schedule</a>
        </li>
        <li>
            <a class="tab-lnk" href="#notanalytics">Edited by Others</a>
        </li>
        <li>
            <a class="tab-lnk" href="#topundocumented">To Document</a>
        </li>
        <li>
            <a class="tab-lnk" href="#newundocumented">New Undocumented</a>
        </li>
      <!--  <li>
            <a class="tab-lnk" href="#canmakereports">Users with Create</a>
        </li>-->
    </ul>
</nav>


