@page
@model Atlas_Web.Pages.Tasks.IndexModel
@{
    ViewData["Title"] = "Tasks";
}

<h1 class="title is-1">Maintenance Tasks</h1>

<partial name="_Links" />

<div class="tab-cnt">
    <div class="tab-dta active" id="recommendretire">
        <div data-ajax="yes" data-url="/Tasks?handler=RecommendRetire"></div>
    </div>
    <div class="tab-dta" id="dead">
        <div data-ajax="yes" data-url="/Tasks?handler=Unused"></div>
    </div>
    <div class="tab-dta" id="maintenancerequired">
        <div data-ajax="yes" data-url="/Tasks?handler=MaintRequired"></div>
    </div>
    <div class="tab-dta" id="auditonly">
        <div data-ajax="yes" data-url="/Tasks?handler=Audit"></div>
    </div>
    <div class="tab-dta" id="missingschedule">
        <div data-ajax="yes" data-url="/Tasks?handler=NoSchedule"></div>
    </div>
    <div class="tab-dta" id="notanalytics">
        <div data-ajax="yes" data-url="/Tasks?handler=NotAnalytics"></div>
    </div>
    <div class="tab-dta" id="topundocumented">
       <div data-ajax="yes" data-url="/Tasks?handler=TopUndocumented"></div>
    </div>
    <div class="tab-dta" id="newundocumented">
       <div data-ajax="yes" data-url="/Tasks?handler=NewUndocumented"></div>
    </div>
  <!--  <div class="tab-dta" id="canmakereports">
        <div data-ajax="yes" data-url="/Tasks?handler=CanMakeReports"></div> -->
    </div>
</div>
