@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Data_Governance_WebApp.Pages.Reports.IndexModel
@{
    var m = Model ?? ViewBag;
}

@if (m.ManageEngineTickets.Count > 0)
{
    <h4>Manage Engine Tickets</h4>
    <span>
        @{ 
            var lastTicket = m.ManageEngineTickets[m.ManageEngineTickets.Count-1];;
        }
        @foreach (var t in m.ManageEngineTickets)
        {
            <a target="_blank" class="atlas-blue" href="@t.Url" >@t.Number (@t.Description)</a>@if(t.Id != lastTicket.Id) { <text>, </text>}
        }
</span>
}
