<nav class="breadcrumb">
    <ul>
        <li>
            <a class="tab-lnk active" href="#stars">Stars</a>
        </li>

        @*<li>
            <a class="tab-lnk" href="#mail">Mail</a>
        </li>

        <li>
            <a class="tab-lnk" href="#subscriptions">Subscriptions</a>
        </li>
        <li>
            <a class="tab-lnk " href="#run-list">Report Runs</a>
        </li>
        <li>
            <a class="tab-lnk" href="#atlas-history">Atlas History</a>
        </li>
        <li>
            <a class="tab-lnk" href="#groups">Groups</a>
        </li>*@
    </ul>
</nav>


