@page
@model Atlas_Web.Pages.AboutModel
@using Helpers
@{ ViewData["Title"] = "Analytics Cheat Sheet"; }



<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;padding-top: 43px;"><span style="font-size:37px;line-height: 39.9466667175293px;color: rgb(192, 0, 0);">Analytics Cheat Sheet</span></p> 
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"><span style="font-size:24px;line-height: 25.68000030517578px;"><strong>Data Sources</strong></span></p> 
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"><span style="font-size:21px;line-height: 22.82666778564453px;color: rgb(91, 155, 213);">Chronicles&nbsp;</span></p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"><strong><em>Real-time production database&nbsp;</em></strong></p> 
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;">Chronicles is the Epic production system, the database management system that underlies all of Epic&rsquo;s applications. Each application builds upon the Chronicles unified data model to create clinical, financial, and administrative data sets. Because user-entered data is immediately available in Chronicles for real-time reporting, Hyperspace users requiring up to-the-minute results will most benefit from Chronicles-based reporting.</p> 
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"><span style="font-size:21px;line-height: 22.82666778564453px;color: rgb(91, 155, 213);">Clarity</span></p> 
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"><strong><em>Operational data store&nbsp;</em></strong></p> 
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;">Clarity extracts data from Chronicles and loads it to a dedicated reporting server. You can use this data to create analytical reports on large amounts of long-term data without slowing your production system. Use the Clarity database for reports that don&rsquo;t need access to real-time data and require significant analysis.</p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"><span style="font-size:21px;line-height: 22.82666778564453px;color: rgb(91, 155, 213);">Caboodle&nbsp;</span></p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"><strong><em>Enterprise data warehouse&nbsp;</em></strong></p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;">Caboodle, an enterprise data warehouse platform, brings together information from varied sources (Epic and Non-Epic) in a curated healthcare data model for improved data management and analytics. The Caboodle data warehouse can help your organization get more value from the information in your system and broaden the scope of your analytical reporting. Caboodle provides an analytics platform that is intuitive, flexible, and customizable.</p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;">&nbsp;</p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"><span style="font-size:24px;line-height: 25.68000030517578px;"><strong>Reporting Tools</strong></span></p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;">Data sitting in a database is not much use to anyone. Reporting tools allow us to track, visualize, and understand our data. Here&rsquo;s a breakdown of what we use at Valley:</p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"><span style="font-size:21px;line-height: 22.82666778564453px;color: rgb(91, 155, 213);">Reporting Workbench</span></p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"><strong><em>Real Time Epic-Native Reports</em></strong></p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;">Reporting workbench is Epic&rsquo;s internal reporting tool used for tracking near-term, real-time data. It pulls directly from the Chronicles database and returns detailed, record-level information. Most reporting workbench reports can only be run for the last thirty days, so it is not the best tool for long-term, retrospective reporting, but it is a great way to see what&rsquo;s happening in the hospital right now.</p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"><span style="font-size:21px;line-height: 22.82666778564453px;color: rgb(91, 155, 213);">Radar Dashboards</span></p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"><strong><em>Real-Time Monitoring and Long Term Trending</em></strong></p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;">Radar is Epic&rsquo;s native dashboarding tool=. It allows users to view a collection of small tables and graphs in a single report for quick reference and monitoring. Data in Radar Dashboards can come from Chronicles, Clarity, or Caboodle and can summarize data over longer periods of time than what is typically available in Reporting Workbench Reports. While a great resource, customization is limited and other tools are required to access the detailed data behind Radar Dashboard summaries.</p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"><span style="font-size:21px;line-height: 22.82666778564453px;color: rgb(91, 155, 213);">Tableau</span></p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"><strong><em>Powerful Data Visualization</em></strong></p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;">It is a visualization platform that can incorporate and transform data from Clarity, Caboodle, and a variety of other non-Epic data sources into powerful interactive visualizations that make it easy for end users to gain insight from large datasets.&nbsp;</p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;">Examples: Surge Data Dashboard, IT Weekly Ticket Closers </p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"><span style="font-size:19px;line-height: 19.97333335876465px;color: rgb(91, 155, 213);">SlicerDicer</span></p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;"> This is Epic&rsquo;s self-service reporting tool that is built into Hyperspace. Similar to cubes, SlicerDicer is designed to make it easier for end users to pull data for themselves. Epic has released over 50 SlicerDicer data models, though each can require significant build and validation work on the customer&rsquo;s end to deploy. Examples of currently deployed models include: Patients, HB Accounts, Births, HB Denials, PB Denials, HB Transactions, PB Transactions, Surgical Services.</p>
<p style="margin: 0in 0in 8pt;line-height: 15.693333625793457px;font-size:15px;">&nbsp;</p>

<p style='margin-bottom:8.0pt;line-height:107%;font-size:15px;'><span style="font-size:24px;line-height: 25.68000030517578px;"><strong>Validation Tags</strong></span>
<p style='margin-bottom:8.0pt;line-height:107%;font-size:15px;'>In an effort to both make more content available and help end users better understand the reliability of different reports, we have added Validation Tags to every report in Atlas. These tags indicate how reliable a report should be considered based on its origin and amount of testing. There are five tags:&nbsp;</p>
<h2 class="title"><span class="analytics-certified">Analytics Certified</span></h2>
<p style='margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:15px;'>Certified reports have received the highest level of scrutiny from the HI(Healthcare Intelligence) Team and the owning end user. These reports are the most reliable and accurate in the system.</p>
<h2 class="title"><span class="analytics-reviewed">Analytics Reviewed</span></h2>
<p style='margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:15px;'>Reviewed reports have gone through the standard HI code review and validation process. Reviewed reports can be trusted for monitoring most operational processes.</p>
<h2 class="title"><span class="epic-released">Epic Released</span></h2>
<p style='margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:15px;'>Epic Released Reports are limited to the standard Epic configuration. They cannot be customized to match VMC&rsquo;s unique system build and may not always be accurate. Use with caution.</p>
<h2 class="title"><span class="legacy">Legacy</span></h2>
<p style='margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:15px;'>Legacy reports have not been validated by the HI team for accuracy and reliability. Legacy reports also do not have any recent usage track records. Use with caution.</p>
<h2 class="title"><span class="documentation-pending">Documentation Pending</span></h2>
<p style='margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:15px;'>Documentation Pending reports have not been validated by the HI Team and have usage track record. It may display inaccurate or misleading information. Use at your own risk.</p>
<h2 class="title"><span class="self-service">Self-Service</span></h2>
<p style='margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:15px;'>Data has been validated but content produced via self-service is the responsibility of the end user.</p>
