@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@page
@model IndexModel
@{
    Layout = HttpContext.Request.Headers["x-requested-with"] == "XMLHttpRequest" ? "../Shared/_AjaxLayout.cshtml" : "../Shared/_Layout.cshtml";
    ViewData["Title"] = "";
}

<div class="pageTitle loose">
    <h2 class="pageTitle-head"><span>Hi, @Model.FirstName</span></h2>
    <div class="tab">
        <a class="tab-lnk active" href="#favorites">Favorites</a>
        <a class="tab-lnk" href="#mail">Mail</a>
    </div>
</div>

<section class="tab-cnt">
    <div class="tab-dta active" id="favorites">
        <h3 class="pageSection-title">My Favorites</h3>
        <div data-ajax="yes" data-url="/Users?handler=Favorites" data-param="id=@Model.UserId"></div>
    </div>
    <div class="tab-dta" id="mail">
        <div data-ajax="yes" data-url="/Mail?handler=GetMailbox" data-param="id=@Model.UserId"></div>
    </div>
</section>
