
@page
@model IndexModel
@{
    Layout = HttpContext.Request.Headers["x-requested-with"] == "XMLHttpRequest" ? "../Shared/_AjaxLayout.cshtml" : "../Shared/_Layout.cshtml";
    ViewData["Title"] = "";
}

<h1 class="title is-1">Hi, @Model.FirstName!</h1>

<partial name="_Links" />


<section class="tab-cnt">
    <div class="tab-dta active" id="favorites">
        <div data-ajax="yes" data-url="/Users/Favorites" data-parameters="id=@Model.UserId"></div>
    </div>
    @*
        <div class="tab-dta " id="mail">
            <div data-ajax="yes" data-url="/Mail?handler=GetMailbox" data-parameters="id=@Model.UserId"></div>
        </div>
     *@

    <div class="tab-dta" id="subscriptions">
        <div data-ajax="yes" data-url="/Users?handler=Subscriptions" data-parameters="id=@Model.UserId"></div>
    </div>
    <div class="tab-dta" id="activity">
        <div data-ajax="yes" data-url="/Users?handler=Activity" data-parameters="id=@Model.UserId"></div>
    </div>
    @* <div class="tab-dta" id="atlas-history">
        <div data-ajax="yes" data-url="/Users?handler=History" data-parameters="id=@Model.UserId"></div>
    </div> *@
    <div class="tab-dta" id="groups">
        <div data-ajax="yes" data-url="/Users?handler=Groups" data-parameters="id=@Model.UserId"></div>
    </div>
</section>

