@page
@model Atlas_Web.Pages.ReportObjects.DetailsModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
</body>
</html>
