@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@if(ViewData["Title"].ToString().Length > 0){
    <title>@ViewData["Title"] - Atlas</title>
} else {
    <title>Home - Atlas of Information Management</title>
}


@RenderBody()

<script>
(function(){
	var d = document;
@if(ViewBag.AdLists != null){
	@:d.getElementById("AdColTwo").innerHTML ='@foreach(var ad in ViewBag.AdLists){@if(ad.Column == 2){<div class="col" data-ajax="yes" data-url="@ad.Url"></div><div class="w-100"></div>}}';
	@:d.dispatchEvent(new CustomEvent('load-ajax-content'));
}
})()

</script>