<div class="mlbx">
	<div class="mlbx-menu">
        <partial name="Partials/Mailbox/_Menu" />
	</div>
	<div class="mlbx-dvdr dark"></div>
	<!--<div class="mailbox-filters-outer "></div>
	<div class="mlbx-dvdr dark "></div>-->
	<div class="mlbx-bd">
		<div class="mlbx-fldrs">
			<partial name="Partials/Mailbox/_Folders" />
		</div>
		<div class="mlbx-msgs">
			<partial name="Partials/Mailbox/_Messages" />
		</div>
		<div class="mlbx-rdr">
			@if(ViewBag.AllMail.Count > 0){
				<script>
					(function(){
        if(document.readyState === 'complete') {
    load()
        }

        window.addEventListener('load',function(){
 load()
  })
        function load(){
						document.dispatchEvent(new CustomEvent("loadMessage",
							{
				      			cancelable: true,
				      			detail: {
				        			id: @ViewBag.AllMail[0].RepId
				        		}
						    }))
						}
					})()
				</script>
			}
			else
			{
				<div class="ajaxLoader">No mail here! ¯\_(ツ)_/¯</div>
			}
		</div>
	</div>
<partial name="Partials/Mailbox/_NewMessage" />

</div>
