@page
@model Atlas_Web.Pages.AccessControl.IndexModel
@{
    Layout = HttpContext.Request.Headers["x-requested-with"] == "XMLHttpRequest" ? "../Shared/_AjaxLayout.cshtml" : "../Shared/_Layout.cshtml";
}
@{
ViewData["Title"] = "Access Control";
}


@section js {
	<script src="/js/access.min.js" defer></script>

}

<div class="pageTitle">
	<h2 class="pageTitle-head">Access Control</h2>
	<div class="tab">
		<a class="tab-lnk active" href="#userroles">User Roles</a>
		@if (ViewBag.Permissions.Contains(18))
		{
			<a class="tab-lnk" href="#rolepriviledges">Role Priviledges</a>
		}
	</div>
</div>

<div class="tab-cnt">
	<div class="tab-dta active" id="userroles">
		<partial name="Pages/_UserRoles.cshtml"></partial>
	</div>
	@if (ViewBag.Permissions.Contains(18))
	{
		<div class="tab-dta" id="rolepriviledges">
			<partial name="Pages/_RolePermissions.cshtml"></partial>
		</div>
	}
</div>
