@page
@model Atlas_Web.Pages.Analytics.IndexModel
@{ ViewData["Title"] = "Analytics"; }

@section js {
     <script src="/js/analytics.min.js" defer async></script>
}

<h1 class="title is-1">Analytics</h1>

<div id="active-users"></div>

<div class="is-flex mb-5 is-justify-content-space-between">
    <div class="is-flex">
        <div class="is-flex mr-5 is-flex-direction-column">
            <h1 class="title is-2 mb-0 is-family-sans-serif"><span id="analytics-views">-</span></h1>
            <span>Views</span>
        </div>
        <div class="is-flex mx-5 is-flex-direction-column">
            <h1 class="title is-2 mb-0 is-family-sans-serif"><span id="analytics-visitors">-</span></h1>
            <span>Visitors</span>
        </div>
        <div class="is-flex ml-5 is-flex-direction-column">
            <h1 class="title is-2 mb-0 is-family-sans-serif"><span id="analytics-load-time">-</span>s</text></h1>
            <span>Load Time</span>
        </div>
    </div>
    <div class="dropdown mb-5 is-select"  data-target="views-chart" >
        <div class="dropdown-trigger ">
            <button class="button" aria-haspopup="true" aria-controls="views-chart-dropdown">
            <span class="select-value">Last 24 hours</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
            </button>
        </div>
        <div class="dropdown-menu" id="views-chart-dropdown"role="menu">
            <div class="dropdown-content">
            <a href="#" class="dropdown-item" data-range="1">
                Today
            </a>
            <a class="dropdown-item is-active" data-range="2">
                Last 24 hours
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item" data-range="3">
                This week
            </a>
            <a href="#" class="dropdown-item" data-range="4">
                Last 7 days
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item" data-range="5">
            This month
            </a>
            <a href="#" class="dropdown-item" data-range="6">
            Last 30 days
            </a>
            <a href="#" class="dropdown-item" data-range="7">
            Last 90 days
            </a>
            <a href="#" class="dropdown-item" data-range="8">
            This year
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item" data-range="9">
                All time
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item" data-range="10">
                Custom range
            </a>
            </div>
        </div>
    </div>
</div>
<div class="chart-wrapper"  style="max-height:400px;">
    <canvas id="visits-chart" data-url="/Analytics/Visits"  width="400" height="400"></canvas>
</div>

<div class="columns pt-5">
    <div class="column is-one-third is-half-tablet">
        <div class="bar-data-wrapper" data-url="/Analytics/Visits?handler=Browsers" data-callback="browser"></div>
    </div>
    <div class="column is-one-third is-half-tablet">
        <div class="bar-data-wrapper" data-url="/Analytics/Visits?handler=Os" data-callback="os"></div>
    </div>
    <div class="column is-one-third is-half-tablet">
        <div class="bar-data-wrapper" data-url="/Analytics/Visits?handler=Resolution" ></div>
    </div>
</div>


<div class="columns">
    <div class="column is-one-third is-half-tablet">
        <div class="bar-data-wrapper" data-url="/Analytics/Visits?handler=Users" ></div>
    </div>
    <div class="column is-one-third is-half-tablet">
        <div class="bar-data-wrapper" data-url="/Analytics/Visits?handler=LoadTimes" ></div>
    </div>
    @* <div class="column is-one-third is-half-tablet">
        <div class="bar-data-wrapper" data-url="/Analytics/Visits?handler=Reports" ></div>
    </div> *@
    @* <div class="column">
        <div class="bar-data-wrapper" data-url="/Analytics/Visits?handler=Reports">
            <h3 class="title is-3 is-family-sans-serif">Top Reports</h3>
        </div>
    </div>
    <div class="column">
        <div class="bar-data-wrapper" data-url="/Analytics/Visits?handler=Terms">
            <h3 class="title is-3 is-family-sans-serif">Top Terms</h3>
        </div>
    </div> *@
</div>

<div data-ajax="yes" class="analytics no-loader" data-page="0" data-url="/Analytics/Trace"></div>
@*
<div class="columns">
    <div class="column">
        <div class="bar-data-wrapper" data-url="/Analytics/Visits?handler=Collections">
            <h3 class="title is-3 is-family-sans-serif">Top Collections</h3>
        </div>
    </div>
    <div class="column">
        <div class="bar-data-wrapper" data-url="/Analytics/Visits?handler=Initiatives">
            <h3 class="title is-3 is-family-sans-serif">Top Initiatives</h3>
        </div>
    </div>
</div> *@


