@page
@model Atlas_Web.Pages.Analytics.IndexModel
@{ ViewData["Title"] = "Analytics"; }

@section js {
     <script src="/js/analytics.min.js" defer async></script>
}

<h1 class="title is-1">Analytics</h1>

<partial name="Partials/_Index" />

