
@page
@model Atlas_Web.Pages.Analytics.TopUsersModel
@{
    Layout = null;
}

<div>
 <canvas id="myChart" width="400" height="400"></canvas>
    <script>
    @{
            var TopTen = Model.TopUsers.Take(10);
            var last = TopTen.Last();
        }
    var data = {
        labels: [@foreach (var g in TopTen){ <text>"@g.Name"</text> @if(g != last){<text>,</text>} }],
        datasets: [{
                        "label": "Load Times (s)",
                        type: 'line',
                        yAxisID: '1',
                        backgroundColor:'rgba(38,128,235,0.4)',
                        border:'rgba(38,128,235,0.5)',
                        "data": [
                                    @foreach (var g in TopTen)
                                    {
                                        <text>"@g.Time"</text> @if(g != last){<text>,</text>}
                                    }
                                ]
                    },
                    {
                        "label": "Visits",
                        yAxisID: '2',
                        backgroundColor:'rgba(38,128,235,0.6)',
                        border:'rgba(38,128,235,0.7)',
                        "data": [
                                    @foreach (var g in TopTen)
                                    {
                                        <text>@g.Count</text> @if(g != last){<text>,</text>}
                                    }
                                ]
                    }]
    };
    var ctx = document.getElementById('myChart');
    var config = {
  type: 'bar',
  data: data,
  options: {
    animation: {
        duration: 300,
      },
      hover: {
        animationDuration: 0,
      },
      responsive: true,
      responsiveAnimationDuration: 0,
      maintainAspectRatio: false,
      legend: {
        display: false,
      },
      title: {
          display: false
      },
       scales: {
      yAxes: [{
        id: '1',
        type: 'linear',
        position: 'left',
      }, {
        id: '2',
        type: 'linear',
        position: 'right',
      }]
    }
  }
};
 var myChart = new Chart(ctx, config);
    </script>

    </div>
