@model Atlas_Web.Pages.Groups.IndexModel
<nav class="breadcrumb">
    <ul>
        <li>
            <a href="#details" class="tab-lnk active">Details</a>
        </li>
        <li>
            <a href="#users" class="tab-lnk">Users In Group</a>
        </li>
        <li>
            <a href="#reports" class="tab-lnk">Reports In Group</a>
        </li>
        <li>
            <a class="tab-lnk" href="#activity">Run Analytics</a>
        </li>
        <li>
            <a class="tab-lnk" href="#run-list">Report Runs</a>
        </li>
        @if (User.HasPermission("View Site Analytics"))
        {
            <li>
                <a class="tab-lnk" href="#analytics">Analytics</a>
            </li>
        }
    </ul>
</nav>


