@model Atlas_Web.Pages.Groups.IndexModel
<nav class="breadcrumb">
    <ul>
        <li>
            <a href="#details" class="tab-lnk active">Details</a>
        </li>
        <li>
            <a href="#users" class="tab-lnk">Users In Group</a>
        </li>
        <li>
            <a href="#reports" class="tab-lnk">Reports In Group</a>
        </li>
        <li>
            <a class="tab-lnk" href="#activity">Report Activity</a>
        </li>
    </ul>
</nav>


