@if(ViewData["Title"].ToString().Length > 0){
    <title>@ViewData["Title"] - Atlas</title>
} else {
    <title>Home - Atlas of Information Management</title>
}


@RenderBody()

<script>
(function(){
	var d = document;
@if(ViewBag.AdLists != null){
	@:d.getElementById("AdColTwo").innerHTML +='@foreach(var ad in ViewBag.AdLists){@if(ad.Column == 2){<div class="col" data-ajax="yes" data-url="@ad.Url"></div>}}';
	@:d.dispatchEvent(new CustomEvent('load-ajax-content'));
}
})()

</script>
