<div class="message-wrapper hidden">
	<div class="message-wrapper-inner">
    	<button class="message-close"></button>
    	<div class="message-container">
    		<div class="message-inner">
    			nice message here.
    		</div>
    	</div>
    </div>
</div>
