@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Data_Governance_WebApp.Pages.Parameters.IndexModel
<div>
    @if (ViewBag.Permissions.Contains(33))
    {
        <form asp-page-handler="CreateMilestoneTemplates" method="post">
            <input type="nice-input" class="" asp-for="MilestoneTemplates.Interval" data-initial-content="Every" required />
            <input type="dynamic-dropdown" asp-for="MilestoneTemplates.MilestoneTypeId"  search-area="mile-temp" method="fullList" />
            <button type="submit" class="btn btn-link">submit</button>
        </form>
    }
    @foreach (var i in ViewBag.MilestoneTemplateList)
    {
        <p>
            @if (ViewBag.Permissions.Contains(34))
            {
                <a href="/Parameters?handler=DeleteMilestoneTemplate&Id=@i.Id"><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg></a>
            }
            @i.Name<span class="text-light">&nbsp;&middot;&nbsp;used in @i.Used places</span>
        </p> 
    }
</div>