@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Data_Governance_WebApp.Pages.Parameters.IndexModel
<div>
<h4 class="pt-3">Strategic Importance</h4>
<ul class="list-group">
    @if (ViewBag.Permissions.Contains(33))
    {
        <li class="list-group-item">
            <form asp-page-handler="CreateStrategicImportance">
                <input type="nice-input" class="submit slim" asp-for="StrategicImportance.Name" data-initial-content="New Item" required />
            </form>
        </li>
    }
    @foreach (var i in ViewBag.StrategicImportanceList)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    @i.Name
                    <span class="badge ml-2 atlas-blue">@i.Used</span>
                </div>
                <div class="col-auto text-right">
                    @if (ViewBag.Permissions.Contains(34))
                    {
                        <form asp-page-handler="DeleteStrategicImportance" method="post">
                            <input type="hidden" asp-for="StrategicImportance.StrategicImportanceId" value="@i.Name" />
                            <button type="submit" class="btn btn-link py-0 atlas-blue"><svg class="icon-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg></button>
                        </form>
                    }
                </div>
            </div>
        </li>
    }
</ul>
</div>