@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

<div class="mdl" id="image-modal" tabindex="-1">
    <div class="mdl-d img-modal-lg" data-dismiss="mdl">
        <div class="mdl-c">
            <div class="mdl-h">
                <button type="button" class="close" data-dismiss="mdl">&times;</button>
                <h2>Image</h2>
            </div>
            <div class="mdl-b">
                <img src="" class="imagepreview img-thumbnail" style="max-width: 100%; max-height:100%">
            </div>
        </div>
    </div>
</div>
