@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Data_Governance_WebApp.Pages.Reports.IndexModel
<div class="editorImg">
    @foreach (var img in ViewBag.ReportImages)
    {
        <div class="editorImg-img">
            <form asp-antiforgery="false" asp-page-handler="RemoveImage" method="post" class="report-remove-image" >
                <input name="Id" type="hidden" value="@ViewBag.Id">
                <input type="hidden" name="ImgId" value="@img.Id" />
                <button type="submit" class="btn btn-link float-right pt-0" onclick="return confirm('Are you sure you want to remove this image?');">
                    <svg class="icon-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg>
                </button>
            </form>

            <div class="pop" style="height:calc(100% - 30px);text-align: center">
                <img class="" src="@img.Src" style="max-width:100%; max-height: 100%;" />
            </div>
        </div>
    }
    <div class="editorImg-img">
        <form asp-antiforgery="false" class="form-inline" asp-page-handler="AddImage" enctype="multipart/form-data" id="report-add-image">
            <input name="Id" type="hidden" value="@ViewBag.Id">
            <label for="report-add-image-input" class="btn btn-link atlas-blue editor-new-image">
                <i class="fas fa-file-upload fa-7x"></i>
            </label>
            <input type="file" name="File" hidden id="report-add-image-input" class="form-control-file" accept="image/gif, image/jpeg, image/png" />
        </form>
    </div>
</div>
