@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Data_Governance_WebApp.Pages.Reports.IndexModel

<h2 class="editor-sectionTitle">Terms</h2>

<div id="report-editor-currentterms-container">
    <partial name="Editor/_CurrentTerms" />
</div>

<!-- exiting term -->
<form class="editor-form" asp-page-handler="AddTermLink" method="post" id="report-editor-add-term-form">
    <div class="editor-sectionSubTitle">
        <h4 class="darken">Add Existing Term</h4>
        <button type="submit" class="editor-sectionSave atlas-blue"><i class="fas fa-save fa-lg"></i></button>
    </div>
 <div class="editor-inputGrp">
	<label>Name</label>
	<input type="dynamic-dropdown" asp-for="NewTermLink.TermId" value="" visible-value="" search-area="TermSearch" required />
	<label>Summary</label>
	<p class="new-term-summary"></p>
	<label>Technical Definition</label>
	<p class="new-term-def"></p>
    <input asp-for="NewTermLink.ReportObjectId" type="hidden" value="@Model.Report.Id" />
</div>
</form>

<!-- new term -->
<form class="editor-form" asp-page="/Terms/Index" asp-page-handler="NewTerm" method="post" id="report-editor-add-new-term-form">
	<div class="editor-sectionSubTitle">
        <h4 class="darken">Add New Term</h4>
        <button type="submit" class="editor-sectionSave atlas-blue"><i class="fas fa-save fa-lg"></i></button>
    </div>
    <div class="editor-inputGrp">
        <label>Name</label>
       	<input asp-for="NewTerm.Name" class="form-control" />
        <label>Summary</label>
        <textarea rows="1" asp-for="NewTerm.Summary" class="form-control"></textarea>
        <label>Technical Definition</label>
        <textarea rows="1" asp-for="NewTerm.TechnicalDefinition" class="form-control"></textarea>
        <label>External Standard Link</label>
        <input asp-for="NewTerm.ExternalStandardUrl" class="form-control" />
        <input asp-for="NewTermLink.ReportObjectId" type="hidden" value="@Model.Report.Id"/>
    </div>

</form>