.fav-folder:hover {
  background-color: #ced3db;
}
.fav:hover .fav-links {
  visibility: visible;
}
.fav-links .fav-star:hover i {
  color: #e6c300;
}
.fav-links .fav-star.disabled:hover i {
  color: gold;
}
.fav-folder:hover > .folder-grip,
.fav-folder > .folder-grip:active,
.fav-folder > .folder-grip:focus,
.fav-folder > .folder-grip:hover {
  visibility: visible;
}
.fav-folder.draggable {
  z-index: 9999;
}
.fav-folder.hover,
.show-all.hover {
  border: 2px dashed red;
}
