.input-ctn {
  margin-top: 5px;
  padding-bottom: 25px;
  position: relative;
  width: 100%;
}
.input-ctn.slim {
  padding-bottom: 10px;
}
.input-new {
  margin-top: 25px;
  padding-bottom: 15px;
  position: relative;
  width: 100%;
}
.input-newWrapper {
  border-bottom: 1px solid #beb8ba;
  display: flex;
  margin-left: 15px;
  min-height: 33px;
  position: relative;
}
.input-newWrapper:hover {
  cursor: text;
}
.input-newWrapper:after {
  background-color: #0084db;
  bottom: -1px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
  width: 0;
  z-index: 1;
}
.input-newWrapper-focus:after {
  content: "";
  position: absolute;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  width: 100%;
}
.input-span {
  display: inline-block !important;
  flex: 1;
  min-height: 33px;
  outline: none;
  padding: 3px;
  position: relative;
  white-space: pre-line !important;
}
.input-span:empty:before {
  color: #575353;
  content: attr(data-initial-content);
  display: block;
}
.input-span:focus:before {
  content: "";
}
.input-submit {
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0 10px;
  position: relative;
}
.input-submit:active,
.input-submit:focus,
.input-submit:hover,
.input-submit:visited {
  outline: none;
  text-decoration: none;
}
.input-span:focus {
  outline: none;
}
