.markdown {
  @extend %block;
}

.markdown blockquote p {
  margin-bottom: 0;
}

.markdown li p {
  margin-bottom: 0;
}

.markdown p:last-child {
  margin-bottom: 0;
}

.markdown p:first-child {
  margin-top: 0;
}

.cm-header {
  font-family: $title-family;
}

.markdown h1,
.cm-header.cm-header-1 {
  font-size: 2rem;
  font-stretch: expanded;
  font-weight: $weight-normal;
}

.markdown h2,
.cm-header.cm-header-2 {
  font-size: 1.75rem;
  font-weight: $weight-normal;
}

.markdown h3,
.cm-header.cm-header-3 {
  font-size: 1.4rem;
}

.markdown h4,
.cm-header.cm-header-4 {
  font-size: 1.25rem;
}

.markdown h5,
.cm-header.cm-header-5 {
  font-size: 1rem !important;
  font-weight: $weight-light !important;
}

.markdown h6,
.cm-header.cm-header-6 {
  font-size: 0.95rem;
}

pre > code,
.markdown pre > code,
.CodeMirror-code {
  border-radius: 3px;
  tab-size: 2;
}

.markdown table {
  background-color: transparent;
  border-collapse: collapse;
  margin-bottom: 1rem;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: inherit;
}

.markdown table th,
.markdown table td {
  border-top: 1px solid #dee2e6;
  padding: 0.375rem;
  vertical-align: top;
}

.markdown table thead th {
  border-bottom: 2px solid #dee2e6;
  vertical-align: bottom;
}

.cm-s-default .cm-link,
.cm-link:hover {
  color: #0084db;
  text-decoration: none;
}

.markdown dl {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 576px) {
  .markdown dt {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .markdown dd {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.markdown dd {
  margin-bottom: 0;
  margin-top: 0;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.markdown dt {
  margin-bottom: 0;
  margin-top: 0;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.markdown sup {
  margin-left: 2px;
}

.markdown blockquote {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
