.title .legacy,
.title .epic-released {
  border: 2px solid #ffc107;
  border-radius: $radius;
  color: #ffc107;
  padding: 0 5px;
}

.title .high-risk {
  border: 2px solid #ff6961;
  border-radius: $radius;
  color: #ff6961;
  padding: 0 5px;
}

.title .analytics-reviewed {
  border: 2px solid rgb(41 206 66);
  border-radius: $radius;
  color: rgb(41 206 66);
  padding: 0 5px;
}

.title .self-service {
  border: 2px solid rgb(35 96 252);
  border-radius: $radius;
  color: rgb(35 96 252);
  padding: 0 5px;
}

.title .analytics-certified {
  border: 2px solid #22aa36;
  border-radius: $radius;
  color: #22aa36;
  padding: 0 5px;
}

.back-to-top {
  background-color: $white-ter;
  border: 1px solid $grey-light !important;
  border-radius: 100px;
  bottom: 45px;
  color: $grey !important;
  position: fixed;
  right: 25px;
  visibility: hidden;
}

.ajaxLoader {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.ajaxLoader-img {
  width: 25px;
}
