@import '../../../node_modules/bulma/sass/utilities/initial-variables';

.tag.epic-released,
.tag.legacy {
  background-color: #ffc107;
  color: #212529;
}

.tag.analytics-certified {
  background-color: #22aa36 !important;
  color: #212529;
}

.tag.analytics-reviewed {
  background-color: rgba(41 206 66) !important;
  color: #212529;
}

.tag.self-service {
  background-color: rgba(35 96 252) !important;
  color: #fff !important;
}

.tag.high-risk {
  background-color: #ff6961 !important;
  color: #212529;
}

// .pagination {
//   .page-item{
//     .page-link {
//       border: 1px solid $grey-lightest;
//       display: block;
//       line-height: 1.25;
//       margin-left: -1px;
//       padding: 0.5rem 0.75rem;
//       position: relative;

//       &:hover {
//         background-color: $white-ter;
//         border-color: $grey-lighter;
//         color: $link;
//         text-decoration: none;
//       }

//       &:focus {
//         z-index: 2;
//       }
//     }

//     &:first-child {
//       .page-link{
//         border-bottom-left-radius:$radius-small;
//         border-top-left-radius: $radius-small;
//         margin-left: 0;
//       }
//     }

//     &:last-child{
//       .page-link {
//         border-bottom-right-radius: $radius-small;
//         border-top-right-radius: $radius-small;
//       }
//     }

//     &.active {
//       .page-link {
//         background-color: $link;
//         border-color: $link;
//         color: $white;
//         z-index: 1;
//       }
//     }

//     &.disabled {
//       .page-link {
//         background-color: $white;
//         border-color: $white-ter;
//         color: $grey-lighter;
//         cursor: auto;
//         pointer-events: none;
//       }
//     }
//   }
// }
