#close-search > i,
#open-search > i {
  pointer-events: none;
}

.srch {
  border: 1px solid #cacac8;
  border-radius: 6px;
  box-shadow: 0 0 30px 10px #d1d1d1;
  display: flex;
  flex: 1;
  margin: 50px 0 !important;
  min-height: 920px;
  position: relative;
}

.srch::after {
  background: #fff;
  bottom: -35px;
  content: '';
  height: 35px;
  left: -30px;
  position: absolute;
  right: -30px;
}

.srch::before {
  background: #fff;
  background: linear-gradient(rgba(255 255 255 / 0%), #fff);
  border-bottom: 3px solid #fff;
  bottom: 0;
  content: '';
  height: 20px;
  left: -30px;
  margin-top: -30px;
  position: absolute;
  right: -30px;
  z-index: 2;
}

.srch-field {
  background-color: #ffc107;
  border-radius: 0.25rem;
  color: #212529;
  display: inline-block;
  font-size: 75%;
  line-height: 1;
  padding: 0.25em 0.4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.srch-fieldOrange {
  background-color: #ffc107;
  border-radius: 0.25rem;
  color: #212529;
  display: inline-block;
  font-size: 75%;
  line-height: 1;
  padding: 0.25em 0.4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.srch-fieldHunterGreen {
  background-color: #22aa36 !important;
  border-radius: 0.25rem;
  color: #212529;
  display: inline-block;
  font-size: 75%;
  line-height: 1;
  padding: 0.25em 0.4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.srch-fieldGreen {
  background-color: rgba(41 206 66) !important;
  border-radius: 0.25rem;
  color: #212529;
  display: inline-block;
  font-size: 75%;
  line-height: 1;
  padding: 0.25em 0.4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.srch-fieldBlue {
  background-color: rgba(35 96 252) !important;
  border-radius: 0.25rem;
  color: #fff !important;
  display: inline-block;
  font-size: 75%;
  line-height: 1;
  padding: 0.25em 0.4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.srch-fieldRed {
  background-color: #ff6961 !important;
  border-radius: 0.25rem;
  color: #212529;
  display: inline-block;
  font-size: 75%;
  line-height: 1;
  padding: 0.25em 0.4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.srch-fltr {
  margin: 10px;
}

.srch-fltr > .chck {
  height: 25px;
  margin: 0;
  padding: 0;
}

.srch-fltr > .chck > span:first-of-type {
  margin-left: 30px;
  white-space: pre;
}

.srch-none {
  margin: 30px;
  text-align: center;
}

.srch-results {
  height: 100%;
}

.srch-result {
  background-clip: border-box;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: 10px 15px 0;
  position: relative;
  word-wrap: break-word;
}

.srch-result:hover .fav-links {
  visibility: visible;
}

.pagination {
  border-radius: 0.25rem;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.page-link {
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #007bff;
  display: block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

.page-link:hover {
  background-color: #e9ecef;
  border-color: #dee2e6;
  color: #0056b3;
  text-decoration: none;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(0 123 255 / 25%);
  outline: 0;
  z-index: 2;
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.page-item:first-child .page-link {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  margin-left: 0;
}

.page-item:last-child .page-link {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  z-index: 1;
}

.page-item.disabled .page-link {
  background-color: #fff;
  border-color: #dee2e6;
  color: #6c757d;
  cursor: auto;
  pointer-events: none;
}
