.tag.epic-released,
.tag.legacy {
  background-color: #ffc107;
  color: #212529;
}

.tag.analytics-certified {
  background-color: #22aa36 !important;
  color: #212529;
}

.tag.analytics-reviewed {
  background-color: rgba(41 206 66) !important;
  color: #212529;
}

.tag.self-service {
  background-color: rgba(35 96 252) !important;
  color: #fff !important;
}

.tag.high-risk {
  background-color: #ff6961 !important;
  color: #212529;
}

.srch-none {
  margin: 30px;
  text-align: center;
}

.pagination {
  border-radius: 0.25rem;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.page-link {
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #007bff;
  display: block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

.page-link:hover {
  background-color: #e9ecef;
  border-color: #dee2e6;
  color: #0056b3;
  text-decoration: none;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(0 123 255 / 25%);
  outline: 0;
  z-index: 2;
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.page-item:first-child .page-link {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  margin-left: 0;
}

.page-item:last-child .page-link {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  z-index: 1;
}

.page-item.disabled .page-link {
  background-color: #fff;
  border-color: #dee2e6;
  color: #6c757d;
  cursor: auto;
  pointer-events: none;
}
