@model Atlas_Web.Pages.Profile.IndexModel

<div>
    @if(Model.UserStars.Count > 0)
    {
        <div class="table-responsive">
            <table class="table" aria-label="active users">
                <tbody>
                    @foreach(var d in Model.UserStars.OrderBy(x => x.FullnameCalc))
                    {
                        <tr>
                            <td>
                                @if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                                {
                                    <a href="users?id=@d.UserId">@d.FullnameCalc</a>
                                }
                                else
                                {
                                    @d.FullnameCalc
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <strong>There are no stars.</strong>
    }
</div>
