<div >
    <span class="has-text-grey">Reports with red outline have not been reviewed in the last 6 months.</span>
    @if (ViewBag.AuditOnly.Count == 0)
    {
        <p><br />No reports to show.</p>
    }

    @foreach (var t in ViewBag.AuditOnly)
    {
        <div>
            @if(Convert.ToDateTime(t.Date) < DateTime.Now.AddMonths(-6))
            {
                <span class="text-red">Past Due</span>
            }

            <a href="/reports?id=@t.ReportId">@t.Name</a>
            <span class="has-text-grey">&nbsp;&middot;&nbsp;Last updated/maintained by @t.User on @t.Date</span>
        </div>
    }
</div>
