<div>
    <span class="has-text-grey">Users that can create reports in Prod Hyperspace</span>
    <div class="table-responsive">
        <table class="table sort">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Role Granting Access</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in ViewBag.CanMakeReports)
                {
                    <tr>
                        <td><a href="\users?id=@t.UserId">@t.Name</a></td>
                        <td><a href="\groups?id=@t.RoleId">@t.Role</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
