<div>
    <span class="has-text-grey">Reports with red outline have maintenance that is past due.</span>
    @if (ViewBag.NextMaintenance.Count == 0)
    {
        <p><br />No reports to show.</p>
    }
    @foreach (var t in ViewBag.NextMaintenance)
    {
        <div>
            <a href="/reports?id=@t.ReportId">@t.Name</a>
            <span class="has-text-grey">&nbsp;&middot;&nbsp;@if(Convert.ToDateTime(t.Date) < DateTime.Now)
            {
                <span class="text-red">Due on @t.Date.</span>
            } else 
            {
                @:Due on @t.Date.
            } Last updated/maintained by @t.User</span>
        </div>
    }
</div>
