<div>
    <span class="has-text-grey">Reports with red outline have not been reviewed in the last 6 months.</span>
    @if (ViewBag.MissingSchedule.Count == 0)
    {
        <p><br />No reports to show.</p>
    }


    @foreach (var t in ViewBag.MissingSchedule)
    {
        <div>
            <a href="/reports?id=@t.ReportId">@t.Name</a>
            <span class="has-text-grey">&nbsp;&middot;&nbsp;Last updated/maintained by @t.User on @t.Date</span>
        </div>
   }
</div>
