@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Data_Governance_WebApp.Pages.Reports.IndexModel

<div class="mdl" id="editModal" tabindex="-1">
    <div class="mdl-d editorMdl">
        <div class="mdl-c editorMdl-inner">
            <div class="editorMdl-title">
                <h2 class="editorMdl-titleText">Editing <span class="text-green">@Model.Report.Name.Replace("_"," ")</span><button type="button" class="editorMdl-close" data-dismiss="mdl" data-tooltip="Close">&times;</button></h2>
               
                <div id="editorMdl-titleSave">changes saved.</div>
            </div>
            <div class="editorMdl-cnt" ss-container>
                <div class="editorMdl-cntLiner">
                    <div class="tab">
                        <a class="tab-lnk active" href="imagestab">Images</a>
                        <a class="tab-lnk" href="desctab">Description</a>
                        <a class="tab-lnk" href="termstab">Terms</a>
                        <a class="tab-lnk" href="detailstab">Details</a>
                        <a class="tab-lnk" href="metab">Manage Engine Tickets</a>

                        <a class="tab-lnk" href="mainttab">Maintenance</a>
                    </div>
                    <div class="tab-cnt">
                        <div class="tab-dta active" id="imagestab">
                            <partial name="Editor/_Images"></partial>
                        </div>
                        <div class="tab-dta" id="desctab">
                            <partial name="Editor/_Description"></partial>
                        </div>
                        <div class="tab-dta" id="termstab">
                            <partial name="Editor/_Terms"></partial>
                        </div>
                        <div class="tab-dta" id="detailstab">
                            <partial name="Editor/_Details"></partial>
                        </div>
                        <div class="tab-dta" id="metab">
                            <partial name="Editor/_MeTickets"></partial>
                        </div>
                        <div class="tab-dta" id="mainttab">
                            <partial name="Editor/_Maintenance"></partial>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
    </div>
    <script>
        document.getElementById('editModal').addEventListener('mdl-close', function(){location.reload()});
    </script>
</div>
