<div>
    @if(ViewBag.NewestInitiatives.Count > 0)
    {
        <h4>Initiatives</h4>
        @foreach (var initiative in ViewBag.NewestInitiatives)
        {
            <a href="/Initiatives?id=@initiative.Id">@initiative.Name.Replace('_', ' ')</a>
        }
    }
</div>
