<div>
    @if(ViewBag.NewestReports.Count > 0)
    {
        <h4>Recent Updates</h4>
        @foreach (var report in ViewBag.NewestReports)
        {
            <a href="/Reports?id=@report.Id">@report.Name.Replace('_', ' ')</a>
        }
    }
</div>
