<div>
    @if(ViewBag.NewestCollections.Count > 0)
    {
        <h4>Collections</h4>
        @foreach (var collection in ViewBag.NewestCollections)
        {
            <a href="/collections?id=@collection.Id">@collection.Name.Replace('_', ' ')</a>
        }
    }
</div>
