/* inter-greek-700-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/font/inter/files/inter-greek-700-normal.woff2') format('woff2'), url('/font/inter/files/inter-greek-700-normal.woff') format('woff');
  
}
