/* inter-latin-ext-400-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/font/inter/files/inter-latin-ext-400-normal.woff2') format('woff2'), url('/font/inter/files/inter-latin-ext-400-normal.woff') format('woff');
  
}
