/* inter-latin-800-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('/font/inter/files/inter-latin-800-normal.woff2') format('woff2'), url('/font/inter/files/inter-latin-800-normal.woff') format('woff');
  
}
