/* inter-vietnamese-200-normal*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url('/font/inter/files/inter-vietnamese-200-normal.woff2') format('woff2'), url('/font/inter/files/inter-vietnamese-200-normal.woff') format('woff');
  
}
