/* source-code-pro-cyrillic-500-italic*/
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url('/font/source-code-pro/files/source-code-pro-cyrillic-500-italic.woff2') format('woff2'), url('/font/source-code-pro/files/source-code-pro-cyrillic-500-italic.woff') format('woff');
  
}
