/* source-code-pro-cyrillic-500-normal*/
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('/font/source-code-pro/files/source-code-pro-cyrillic-500-normal.woff2') format('woff2'), url('/font/source-code-pro/files/source-code-pro-cyrillic-500-normal.woff') format('woff');
  
}
