/* source-code-pro-greek-ext-700-normal*/
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/font/source-code-pro/files/source-code-pro-greek-ext-700-normal.woff2') format('woff2'), url('/font/source-code-pro/files/source-code-pro-greek-ext-700-normal.woff') format('woff');
  
}
