/* source-code-pro-greek-ext-200-italic*/
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url('/font/source-code-pro/files/source-code-pro-greek-ext-200-italic.woff2') format('woff2'), url('/font/source-code-pro/files/source-code-pro-greek-ext-200-italic.woff') format('woff');
  
}
