/* source-code-pro-latin-ext-900-normal*/
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url('/font/source-code-pro/files/source-code-pro-latin-ext-900-normal.woff2') format('woff2'), url('/font/source-code-pro/files/source-code-pro-latin-ext-900-normal.woff') format('woff');
  
}
