.mail-notification-container {
  height: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  z-index: 999999999999;
}

.mail-notification-outer {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  box-shadow: 0 0 30px 10px #d1d1d1;
  font-family: sf, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 14px;
  margin: 35px;
  margin-right: -475px;
  transition: all 0.5s;
}

.mail-notification-liner {
  border-radius: inherit;
}

.mail-notification-inner {
  border-radius: inherit;
}

.mail-notification-body {
  border-radius: inherit;
  border-top: 1px solid #f4f5f6;
  color: inherit;
  display: block;
  min-height: 55px;
  padding: 8px;
  text-decoration: none;
  width: 350px;
}

.mail-notification-body:hover {
  color: inherit;
  text-decoration: none;
}

.mail-notification-body p {
  margin: 0;
}

.mail-notification-body-sender {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.mail-notification-body-subject {
  font-size: 14px;
  letter-spacing: 0.4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mail-notification-body-message {
  font-size: 14px;
  letter-spacing: 0.4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
