.mlbx-fldrs {
  background-color: #e3e6e8;
  border-bottom-left-radius: inherit;
  border-right: 1px solid #babfc3;
  flex: 0 0 20%;
  height: 100%;
  max-width: 20%;
  overflow: hidden;
  padding: 7px 0;
  user-select: none;
}

.mlbx-fldrsTitle {
  color: #56585a;
  font-size: 13px;
  margin: 5px 0;
  padding: 0 7px;
}

.mblx-fldrsNew {
  background: #595c5e;
  border-radius: 18px;
  color: #e3e6e8;
  float: right;
  font-size: 17px;
  font-weight: $weight-light;
  line-height: 16px;
  opacity: 0;
  padding: 0 4px 3px;
  transition: opacity 0.3s;
}

.mlbx-fldrsTitle:hover .mblx-fldrsNew {
  opacity: 1;
}

.mlbx-fldrsFldr {
  cursor: default;
  margin: 3px 0;
  padding: 2px 7px 0;
}

.mlbx-fldrsFldr.active {
  background-color: #ccc;
}

.mlbx-fldrsNewMsgCnt {
  background: #0058dd;
  border-radius: 10px;
  color: #fff;
  float: right;
  font-size: 14px;
  line-height: 18px;
  padding: 0 7px;
}
