.mlbx-rdr {
  border-bottom-right-radius: inherit;
  color: #4e4e4e;
  flex: 0 0 55%;
  height: 100%;
  letter-spacing: 0.4px;
  max-width: 55%;
  scroll-behavior: smooth;
  user-select: auto;
}

.mlbx-rdrHead {
  padding: 25px 25px 8px;
  position: relative;
}

.mlbx-rdrHead-controls {
  bottom: -13px;
  cursor: default;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: all 0.5s;
  width: 100%;
}

.mlbx-rdrHead-controls:hover {
  opacity: 1;
}

.mlbx-rdrHead:hover .mlbx-rdrHead-controls {
  opacity: 1;
}

.mlbx-rdrHead-controls .btn-group {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
}

.mlbx-rdrHead-controls button,
.mlbx-rdrHead-controls button:hover,
.mlbx-rdrHead-controls button:active {
  color: #969696 !important;
  line-height: 20px;
  padding: 0;
  padding-left: 7px;
  padding-right: 7px;
}

.mlbx-rdrHead-controls .btn-group button:first-of-type {
  border-bottom-left-radius: inherit;
  border-right: 1px solid #e6e6e6 !important;
  border-top-left-radius: inherit;
}

.mlbx-rdrHead-controls .btn-group button:last-of-type {
  border-bottom-right-radius: inherit;
  border-right: 1px solid #e6e6e6 !important;
  border-top-right-radius: inherit;
}

.mlbx-rdrHead p,
.mlbx-rdrHead div {
  line-height: 22px;
}

.mailbox-mailing-list {
  padding-left: 15px;
  padding-right: 15px;
}

.mlbx-rdrHead p,
.mailbox-mailing-list p,
.mlbx-msgsMsg p {
  margin: 0;
}

.mailbox-reader-body,
.mailbox-reader-body-inner {
  font-size: 14px;
  letter-spacing: 0.4px;
  padding: 8px 25px 25px;
}

.mlbx-rdrHead.new-message {
  display: table-row;
}

.mlbx-rdrHead.new-message ~ .mailbox-reader-body {
  cursor: text;
  display: table-row;
  height: 100%;
  padding-top: 0;
}

.mailbox-reader-body .mailbox-reader-inner {
  height: 100%;
  position: relative;
  width: 100%;
}

.mailbox-reader-body .mailbox-reader-inner .mailbox-reader-liner {
  bottom: 25px;
  left: 25px;
  overflow: auto;
  position: absolute;
  right: 25px;
  top: 8px;
}

.mlbx-rdrHead .mailbox-sender {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mlbx-rdrHead .mailbox-sender .mailbox-senderTime {
  color: #969696;
  float: right;
  font-size: 12px;
}

.mlbx-rdrHead .mailbox-subject,
.mlbx-rdrHead .mailbox-to {
  font-size: 14px;
  letter-spacing: 0.4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mlbx-rdrHead .mailbox-to .mailbox-to-user {
  color: gray;
  cursor: default;
  display: inline;
}

.mlbx-rdrHead .mailbox-to .mailbox-to-user.group {
  color: #8e4d00;
}

.mlbx-rdrHead .mailbox-new-message-sender,
.mlbx-rdrHead .mailbox-new-message-recipient,
.mlbx-rdrHead .mailbox-new-message-subject,
.mlbx-rdrHead .mailbox-new-message-message {
  letter-spacing: 0.4px;
  margin: 0;
}

.mailbox-reader-body .message-reply .mlbx-rdrHead,
.mailbox-reader-body .message-reply .mailbox-reader-body,
.mailbox-reader-body .message-reply .mailbox-divider,
.mailbox-new-message-message .message-reply .mlbx-rdrHead,
.mailbox-new-message-message .message-reply .mailbox-reader-body,
.mailbox-new-message-message .message-reply .mailbox-divider {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.mailbox-reader-body .message-reply,
.mlbx-newMsg .message-reply {
  border-left: 2px solid #4e4cd0;
}

.mailbox-reader-body .message-reply,
.mailbox-reader-body .message-reply div,
.mlbx-newMsg .message-reply,
.mlbx-newMsg .message-reply div {
  color: #4e4cd0 !important;
}

.mailbox-reader-body .message-reply .message-reply,
.mlbx-newMsg .message-reply .message-reply {
  border-left: 2px solid #00a6c6;
}

.mailbox-reader-body .message-reply .message-reply,
.mailbox-reader-body .message-reply .message-reply div,
.mlbx-newMsg .message-reply .message-reply,
.mlbx-newMsg .message-reply .message-reply div {
  color: #00a6c6 !important;
}

.mailbox-reader-body .message-reply .message-reply .message-reply,
.mlbx-newMsg .message-reply .message-reply .message-reply {
  border-left: 2px solid #13b810;
}

.mailbox-reader-body .message-reply .message-reply .message-reply,
.mailbox-reader-body .message-reply .message-reply .message-reply div,
.mlbx-newMsg .message-reply .message-reply .message-reply,
.mlbx-newMsg .message-reply .message-reply .message-reply div {
  color: #13b810 !important;
}
