.mlbx-menu {
  background: #e2e2e2;
  background: linear-gradient(
    180deg,
    rgba(226 226 226 / 100%) 35%,
    rgba(208 208 208 / 100%) 100%
  );
  border-top: 1px solid #f2f2f2;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  display: flex;
  height: 70px;
  position: relative;
  user-select: none;
  width: 100%;
}

.mlbx-menuTitle {
  color: #4e4e4e;
  font-size: 14px;
  letter-spacing: 0.4px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.mlbx-menuNav {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mlbx-menuIcon {
  background-color: inherit !important;
  border: none !important;
  cursor: default !important;
  flex: 0 0 20%;
  margin-bottom: auto;
  margin-top: auto;
  max-width: 20%;
  vertical-align: middle;
}

.mlbx-menuLnkGrp {
  display: inline-flex;
  height: 45px;
  margin-bottom: auto;
  margin-top: auto;
  padding-top: 20px;
  vertical-align: middle;
}

.mlbx-menuBtn {
  background: #f4f4f4;
  border: 1px solid #c7c7c7;
  border-bottom: 1px solid #afafaf;
  border-radius: 6px;
  margin-right: 10px;
  outline: none;
  padding: 1px 10px;
  text-decoration: none;
}

.mlbx-menuBtnGrpS {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: 0;
}

.mlbx-menuBtnGrpM {
  border-left: none;
  border-radius: 0;
  border-right: none;
  margin-right: 0;
}

.mlbx-menuBtnGrpE {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.mlbx-menuBtn:focus,
.mlbx-menuBtn:active,
.mlbx-menuBtn:hover,
.mlbx-menuBtn:visited {
  outline: none;
  text-decoration: none;
}
