.mlbx {
  border-radius: 6px;
  border: 1px solid rgb(202 202 200);
  margin: 30px 0 50px !important;
  box-shadow: 0 0 30px 10px rgb(209 209 209);
  flex: 1;
  position: relative;
  color: rgb(39 39 39);
  letter-spacing: 0.4px;
}

.mlbx-dvdr {
  height: 1px;
  background-color: rgb(230 230 230);
}

.mlbx-dvdr.medium {
  background-color: rgb(201 201 201);
}

.mlbx-dvdr.dark {
  background-color: rgb(166 166 166);
}

.mlbx-bd::after {
  position: absolute;
  content: '';
  bottom: -35px;
  height: 35px;
  background: #fff;
  left: -30px;
  right: -30px;
  z-index: 1;
}

.mlbx-bd::before {
  content: '';
  height: 50px;
  margin-top: -35px;
  background: #fff;
  background: linear-gradient(rgba(255 255 255 / 0%), #fff);
  position: absolute;
  bottom: 0;
  left: -30px;
  right: -30px;
  border-bottom: 3px solid #fff;
  z-index: 1;
  pointer-events: none;
}

.mlbx-bd {
  background-color: rgb(255 255 255);
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  font-size: 14px;
  height: 600px;
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
}

.mailbox-filters-outer {
  height: 30px;
  background: rgb(208 208 208);
  background: linear-gradient(
    180deg,
    rgba(208 208 208 / 100%) 35%,
    rgba(201 201 201 / 100%) 100%
  );
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#d0d0d0", endColorstr="#c9c9c9", GradientType=1);
}

.mlbx-shareMsg {
  font-size: 14px;
  height: 400px;
  letter-spacing: 0.4px;
}

.mlbx-shareMsg .mlbx-newMsgMsg {
  margin-top: 10px;
}

.mlbx-usrDrp {
  color: transparent;
  display: inline;
  margin-left: 5px;
  margin-right: 1px;
  position: relative;
  transition: color 0.1s;
}

:hover > .mlbx-usrDrp {
  color: inherit;
}

.mlbx-usrDrpCtr {
  background-color: #f0eff0;
  border: 1px solid #c6c6c6;
  border-radius: 6px;
  box-shadow: 0 5px 20px 2px #e1e1e1;
  display: none;
  height: auto;
  left: 2px;
  padding: 3px 0;
  position: absolute;
  top: 5px;
  width: 150px;
  z-index: 1;
}

.mlbx-usrDrpCtr .separator {
  background-color: #dfe0df;
  height: 2px;
  margin: 3px 0;
}

.mlbx-usrDrpItm {
  height: 22px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.mlbx-usrDrpItm a {
  color: inherit;
  cursor: default;
  text-decoration: none;
}

.mlbx-usrDrpItm:hover {
  background-color: #3f8bf6;
  color: #fff;
}
