

@model Atlas_Web.Pages.Collections.IndexModel

<h4>New Link</h4>@*
<form action="/collections?handler=AddLinkedReport" method="post" id="collection-editor-add-report-form">
    <input asp-for="DpReportAnnotation.DataProjectId" type="hidden" value='@Model.Collection.DataProjectId' />
    <div class="listDetails">

        <label>Report Name</label>
        <input type="dynamic-dropdown" class="head-light" data-head="Name" asp-for="DpReportAnnotation.ReportId" value="" visible-value="" search-area="ReportSearch" />

        <label>Rank</label>
        <input asp-for="DpReportAnnotation.Rank" type="number" />
    </div>

    <h3><button class="editor-save" type="submit">Save</button></h3>
</form>

     <h3>Report Links</h3>
        <div id="collection-editor-currentreports-container">
            <partial name="Edit/_CurrentReports" />
        </div>
*@