@model Atlas_Web.Pages.Collections.IndexModel

<nav class="breadcrumb">
    <ul>
        <li>
            <a href="#details">Details</a>
        </li>
        @if (@Model.Collection.CollectionReports.Count() > 0)
        {
            <li>
                <a href="#reports">Linked Reports</a>
            </li>
        }
        @if (@Model.Collection.CollectionTerms.Count() > 0)
        {
            <li>
                <a href="#terms">Linked Terms</a>
            </li>
        }
    </ul>
</nav>


