@model Atlas_Web.Pages.Collections.IndexModel
@inject IConfiguration Configuration
<nav class="breadcrumb">
    <ul>
        <li>
            <a href="#details">Details</a>
        </li>
        @if (@Model.Collection.DpReportAnnotations.Count() > 0)
        {
            <li>
                <a href="#reports">Linked Reports</a>
            </li>
        }
        @if (@Model.Collection.DpTermAnnotations.Count() > 0)
        {
            <li>
                <a href="#terms">Linked Reports</a>
            </li>
        }
    </ul>
</nav>


