/* before render */
input[type='dynamic-dropdown'] {
  border: 1px solid #c8c8c8;
  border-radius: 0.4px;
  color: #363636;
  cursor: text;
  display: block;
  font-family: sf, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  letter-spacing: 0.4px;
  outline: none;
  overflow: visible;
  padding: 3px 10px;
  position: relative;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

/* after remder */
.dd-cntr {
  color: #363636;
  cursor: text;
  display: inline-flex;
  font-family: sf, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: auto;
  letter-spacing: 0.4px;
  width: 100%;
  background-color: #fff;
}

.dd-cntr:focus {
  outline: none;
}

.dd-wrp {
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: visible;
  padding: 3px 10px;
  position: relative;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

.dd-wrp.slim {
  border: none;
  padding: 0;
}

.dd-wrp-show {
  z-index: 99;
}

.dd-wrp-invalid {
  border-color: #dc3545;
}

.dd-wrp-focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: 0;
  z-index: 99;
}

.dd-wrp-focus.slim {
  box-shadow: none;
}

.dd-hdn {
  display: none;
}

.dd-rslts {
  background-color: #ededed;
  border: 1px solid #c6c6c6;
  border-radius: 6px;
  box-shadow: 0 10px 20px 2px #e1e1e1;
  display: none;
  left: 0;
  margin-left: -15px;
  overflow: hidden;
  padding: 3px 0;
  position: absolute;
  top: 30px;
  white-space: nowrap;
  z-index: 999;
}

.dd-rsltsLnr {
  height: 100%;
}

.dd-rslt {
  background-color: transparent;
  cursor: pointer;
  cursor: default;
  margin: 0;
  overflow: hidden;
  padding: 1px 0.75rem;
  position: relative;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  z-index: 999;
}

.dd-rslt.active {
  background-color: #3f8bf6;
  color: #fff;
  z-index: 0;
}

.dd-rslt.hidden {
  display: none !important;
}

.dd-rslt > i {
  padding-right: 0.75rem;
}

.dd-rslt.disabled:hover {
  background-color: inherit;
  color: inherit;
}

.dd-rslts .dd-rslt.grp {
  color: #8e4d00;
}

.dd-rslts .dd-rslt.grp.active {
  color: #ffb529;
}

.dd-vsbl {
  -ms-user-select: text;
  background: transparent;
  border: none;
  color: #272727;
  display: table-cell;
  font-family: sf, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 22px;
  letter-spacing: 0.4px;
  max-width: 100%;
  outline: none;
  width: 1px;
}

.dd-wrp input:invalid {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  box-shadow: none;
}

.dd-wrp > input::-ms-clear,
.dd-inpt > .dd-vsbl::-ms-clear {
  display: none;
}

.dd-wrp > input:focus,
.dd-inpt > .dd-vsbl:focus {
  border: none;
  outline: none;
}

.dd-wrp > input::placeholder,
.dd-wrp .dd-inpt > .dd-vsbl::placeholder {
  color: #6c757d;
  font-family: sf, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
  opacity: 1;
}

.dd-itm {
  -ms-user-select: text;
  background-color: #b2d3ff;
  border-radius: 0.25rem;
  color: #272727;
  cursor: default;
  display: inline-flex;
  margin-left: 0;
  margin-right: 2.5px;
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

.dd-itm:first-of-type {
  margin-left: 3px;
}

.dd-itm.group {
  color: #8e4d00 !important;
}

.dd-phdr {
  color: #aaa;
  content: 'data-placeholder';
  flex: 1 1 auto;
  font-family: sf, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-left: -12px;
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
}

.dd-inpt {
  display: inline-flex;
  position: relative;
}
