@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@page
@model Data_Governance_WebApp.Pages.AccessControl.IndexModel
@{
    Layout = HttpContext.Request.Headers["x-requested-with"] == "XMLHttpRequest" ? "../Shared/_AjaxLayout.cshtml" : "../Shared/_Layout.cshtml";
}
@{
ViewData["Title"] = "Access Control";
}

@section css {
    <link rel="stylesheet" href="/css/access.min.css" inline />
}

@section js {
    <script async src="/js/access.min.js" inline></script>
}

<div class="pageTitle">
	<h2 class="pageTitle-head">Access Control</h2>
	<div class="tab">
		<a class="tab-lnk active" href="#userroles">User Roles</a>
		@if (@Model.Permissions.Contains(18))
		{
			<a class="tab-lnk" href="#rolepriviledges">Role Priviledges</a>
		}
	</div>
</div>

<div class="tab-cnt">
	<div class="tab-dta active" id="userroles">
		<partial name="Pages/_UserRoles.cshtml"></partial>
	</div>
	@if (@Model.Permissions.Contains(18))
	{
		<div class="tab-dta" id="rolepriviledges">
			<partial name="Pages/_RolePermissions.cshtml"></partial>
		</div>
	}
</div>
