/* rasa-gujarati-400-italic*/
@font-face {
  font-family: 'Rasa';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('/static/font/rasa/files/rasa-gujarati-400-italic.woff2') format('woff2'), url('/static/font/rasa/files/rasa-gujarati-400-italic.woff') format('woff');
  
}
