/* rasa-gujarati-300-normal*/
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('/font/rasa/files/rasa-gujarati-300-normal.woff2') format('woff2'), url('/font/rasa/files/rasa-gujarati-300-normal.woff') format('woff');
  
}
