/* rasa-latin-ext-600-normal*/
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('/static/font/rasa/files/rasa-latin-ext-600-normal.woff2') format('woff2'), url('/static/font/rasa/files/rasa-latin-ext-600-normal.woff') format('woff');
  
}
