/* rasa-latin-ext-700-normal*/
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/font/rasa/files/rasa-latin-ext-700-normal.woff2') format('woff2'), url('/font/rasa/files/rasa-latin-ext-700-normal.woff') format('woff');
  
}
