/* rasa-latin-ext-600-italic*/
@font-face {
  font-family: 'Rasa';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url('/font/rasa/files/rasa-latin-ext-600-italic.woff2') format('woff2'), url('/font/rasa/files/rasa-latin-ext-600-italic.woff') format('woff');
  
}
