/* rasa-vietnamese-300-italic*/
@font-face {
  font-family: 'Rasa';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url('/static/font/rasa/files/rasa-vietnamese-300-italic.woff2') format('woff2'), url('/static/font/rasa/files/rasa-vietnamese-300-italic.woff') format('woff');
  
}
