@page
@model Atlas_Web.Pages.Settings.IndexModel

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Settings";
}

@section SideBar {}
@section SearchBar {}
@section js {
    <script src="/js/settings.min.js" defer></script>
}

<h1 class="title is-1">@ViewData["Title"]</h1>


<div class="columns">
    <div class="column is-one-quarter">
        <nav class="panel">
             <a class="panel-block is-active panel-tab"  href="#reports">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    Reports
  </a>
  <a class="panel-block panel-tab" href="#collections">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    Initiatives
  </a>
   <a class="panel-block panel-tab" href="#site-message">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    Site Message
  </a>
   <a class="panel-block panel-tab" href="#search">
    <span class="panel-icon">
      <i class="fas fa-search" aria-hidden="true"></i>
    </span>
    Search
  </a>
  <a class="panel-block panel-tab" href="#css">
    <span class="panel-icon">
      <i class="fas fa-palette" aria-hidden="true"></i>
    </span>
    Theme
  </a>
  <a class="panel-block panel-tab" href="#etl">
    <span class="panel-icon">
      <i class="fas fa-database" aria-hidden="true"></i>
    </span>
    ETL
  </a>
        </nav>
    </div>
    <div class="column">

<div class="box tab-cnt">
    <div class="panel-tab-data active" id="reportfields">
        <h4 class="drop" data-toggle="clps" data-target="collapse-orgvalue">
            Organizational Value
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" /></svg>
        </h4>
        <div id="collapse-orgvalue" class="clps">
            <div class="drop-box">
                <div data-ajax="yes" data-url="/settings?Handler=OrganizationalValueList"></div>
            </div>
        </div>
        <h4 class="drop" data-toggle="clps" data-target="collapse-runfreq">
            Estimated Run Frequency
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" /></svg>
        </h4>
        <div id="collapse-runfreq" class="clps">
            <div class="drop-box">
                <div data-ajax="yes" data-url="/settings?Handler=EstimatedRunFrequencyList"></div>
            </div>
        </div>
        <h4 class="drop" data-toggle="clps" data-target="collapse-fragtype">
            Fragility Types
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" /></svg>
        </h4>
        <div id="collapse-fragtype" class="clps">
            <div class="drop-box">

                <div data-ajax="yes" data-url="/settings?Handler=FragilityList"></div>
            </div>
        </div>
        <h4 class="drop" data-toggle="clps" data-target="collapse-fragtag">
            Fragility Tags
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" /></svg>
        </h4>
        <div id="collapse-fragtag" class="clps">
            <div class="drop-box">
                <div data-ajax="yes" data-url="/settings?Handler=FragilityTagList"></div>
            </div>
        </div>
        <h4 class="drop" data-toggle="clps" data-target="collapse-maintsched">
            Maintenance Schedules
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" /></svg>
        </h4>
        <div id="collapse-maintsched" class="clps">
            <div class="drop-box">
                <div data-ajax="yes" data-url="/settings?Handler=MaintenanceScheduleList"></div>
            </div>
        </div>
        <h4 class="drop" data-toggle="clps" data-target="collapse-maintlog">
            Maintenance Log Status
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" /></svg>
        </h4>
        <div id="collapse-maintlog" class="clps">
            <div class="drop-box">

                <div data-ajax="yes" data-url="/settings?Handler=MaintenanceLogStatusList"></div>
            </div>
        </div>
    </div>
    <div class="panel-tab-data" id="initiativeproject">
        <h4 class="drop" data-toggle="clps" data-target="collapse-finimp">
            Financial Impact
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" /></svg>
        </h4>
        <div id="collapse-finimp" class="clps">
            <div class="drop-box">

                <div data-ajax="yes" data-url="/settings?Handler=FinancialImpactList"></div>
            </div>
        </div>
        <h4 class="drop" data-toggle="clps" data-target="collapse-stragimp">
            Strategic Importance
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" /></svg>
        </h4>
        <div id="collapse-stragimp" class="clps">
            <div class="drop-box">

                <div data-ajax="yes" data-url="/settings?Handler=StrategicImportanceList"></div>
            </div>
        </div>
    </div>
    <div class="panel-tab-data" id="globalsettings">
        <div data-ajax="yes" data-url="/settings?Handler=GlobalSettings"></div>
    </div>
    <div class="panel-tab-data" id="search">
        <div data-ajax="yes" data-url="/settings?Handler=SearchSettings"></div>
    </div>
    <div class="panel-tab-data" id="css">
        <div data-ajax="yes" data-url="/settings?Handler=GlobalCss"></div>
    </div>
</div>

    </div>
</div>

   <!--  <div class="tab">
        <a class="tab-lnk active" href="#reportfields">Report Fields</a>
        <a class="tab-lnk" href="#initiativeproject">Initiative & Collection Fields</a>
        <a class="tab-lnk" href="#globalsettings">Global Settings</a>
        <a class="tab-lnk" href="#search">Search</a>
        <a class="tab-lnk" href="#css">Custom CSS</a>
    </div> -->

