@page
@model Atlas_Web.Pages.Settings.IndexModel

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Settings";
}

@section SideBar {}
@section SearchBar {}
@section AdBar {}
@section js {
    <script src="/js/settings.min.js" defer></script>
}

<h1 class="title is-1">@ViewData["Title"]</h1>


<div class="columns">
    <div class="column is-one-quarter is-sticky">
        <nav class="panel">
             <a class="panel-block is-active panel-tab py-3"  href="#meta-fields">
    <span class="icon is-medium mr-2">
      <i class="fas fa-lg fa-list-ul" aria-hidden="true"></i>
    </span>
    Meta Fields
  </a>
   <a class="panel-block panel-tab py-3" href="#site-message">
    <span class="icon is-medium mr-2">
      <i class="fas fa-lg fa-comment-alt" aria-hidden="true"></i>
    </span>
    Site Message
  </a>
   <a class="panel-block panel-tab py-3" href="#search">
    <span class="icon is-medium mr-2">
      <i class="fas fa-lg fa-search" aria-hidden="true"></i>
    </span>
    Search
  </a>
  <a class="panel-block panel-tab py-3" href="#theme">
    <span class="icon is-medium mr-2">
      <i class="fas fa-lg fa-palette" aria-hidden="true"></i>
    </span>
    Theme
  </a>
  <a class="panel-block panel-tab py-3" href="#etl">
    <span class="icon is-medium mr-2">
      <i class="fas fa-lg fa-database" aria-hidden="true"></i>
    </span>
    ETL
  </a>
        </nav>
    </div>
    <div class="column">

<div class="box mb-5">
    <div class="panel-tab-data is-active" id="meta-fields">
        <h3 class="title is-3 mb-0">Meta Fields</h3>

        <h4 class="title is-4 mt-5">Organizational Value</h4>
        <div data-ajax="yes" data-url="/settings?Handler=OrganizationalValueList"></div>

        <h4 class="title is-4 mt-5">Estimated Run Frequency</h4>
        <div data-ajax="yes" data-url="/settings?Handler=EstimatedRunFrequencyList"></div>

        <h4 class="title is-4 mt-5">Fragility Types</h4>
        <div data-ajax="yes" data-url="/settings?Handler=FragilityList"></div>

        <h4 class="title is-4 mt-5">Fragility Tags</h4>
        <div data-ajax="yes" data-url="/settings?Handler=FragilityTagList"></div>

        <h4 class="title is-4 mt-5">Maintenance Schedules</h4>
        <div data-ajax="yes" data-url="/settings?Handler=MaintenanceScheduleList"></div>

        <h4 class="title is-4 mt-5">Maintenance Log Status</h4>
        <div data-ajax="yes" data-url="/settings?Handler=MaintenanceLogStatusList"></div>

        <h4 class="title is-4 mt-5">Financial Impact</h4>
        <div data-ajax="yes" data-url="/settings?Handler=FinancialImpactList"></div>

        <h4 class="title is-4 mt-5">Strategic Importance</h4>
        <div data-ajax="yes" data-url="/settings?Handler=StrategicImportanceList"></div>

    </div>
    <div class="panel-tab-data" id="site-message">
        <div data-ajax="yes" data-url="/settings?Handler=GlobalSettings"></div>
    </div>
    <div class="panel-tab-data" id="search">
        <div data-ajax="yes" data-url="/settings?Handler=SearchSettings"></div>
    </div>
    <div class="panel-tab-data" id="theme">
        <div data-ajax="yes" data-url="/settings?Handler=Theme"></div>
    </div>
     <div class="panel-tab-data" id="etl">
        <div data-ajax="yes" data-url="/settings?Handler=Etl"></div>
    </div>
</div>

    </div>
</div>
