@model Atlas_Web.Pages.Terms.IndexModel

<h1 class="title is-1">@ViewData["Title"]</h1>

@if (ViewBag.Permissions.Contains("Create New Terms"))
{
	<div class="field has-addons">
        <p class="control">
            <a href="/Terms/New/" class="button" title="new initiatve"><span class="icon"><i class="fas fa-plus"></i></span><span>Create a Term</span></a>
        </p>
    </div>
}

<div class="columns is-multiline">
    @foreach (var t in Model.Terms)
    {
        <div class="column is-half ">
            <partial name="Terms/_Snippet" model="t" />
        </div>
    }
</div>
