@inject IConfiguration Configuration
@model Atlas_Web.Pages.Terms.IndexModel
<div class="pageTitle">
    <div class="page-title">
        <h2 class="pageTitle-head">
            @if (@Model.MyTerm.Approved == "Y")
            {
                <span class="text-greenModified">Approved</span>
            }
            @Model.MyTerm.Name
        </h2>
    </div>

    <div class="pageNav">
        @if (Model.MyTerm.Summary != null && Model.MyTerm.Summary != "" && Model.MyTerm.Definition != null && Model.MyTerm.Definition != "")
        {
            <a href="#details" class="pageNav-link">Details</a>
        }
        <a href="#meta" class="pageNav-link">Metadata</a>
    
        @if (Model.RelatedReports.Count() > 0)
        {
            <a href="#reports" class="pageNav-link">Reports</a>
        }
    </div>
</div>

<section class="pageSection">
    <span class="location" id="details"></span>
    <partial name="Details/_Details" />
</section>

<section class="pageSection">
    <span class="location" id="meta"></span>
    <partial name="Details/_Meta">
</section>

@if (Model.RelatedReports.Count() > 0)
{
    <section class="pageSection">
        <span class="location" id="reports"></span>
        <partial name="Details/_Reports">
    </section>
}