@page
@model Atlas_Web.Pages.Terms.NewModel

@{
    ViewData["Title"] = "New Term";
}


@section SideBar {}

<form class="mb-4" action="/Terms/New/" method="post" >
    <h1 class="title is-1">@ViewData["Title"]</h1>
    <p class="buttons is-flex is-justify-content-space-between">
        <a class="button p-5" href="/Terms/">
            <span class="icon">
              <i class="fas fa-lg fa-left-long"></i>
            </span>
            <span><strong>Cancel</strong><br>Go Back</span>
        </a>
        <button class="button p-5" type="submit">
            <span><strong>Save</strong><br>and Continue</span>
            <span class="icon ">
              <i class="fas fa-lg fa-right-long"></i>
            </span>
        </button>
    </p>

    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" placeholder="e.g LOSI" asp-for="Term.Name" required />
        </div>
    </div>

    <div class="field">
        <label class="label">Summary</label>
        <div class="editor" data-inputName="Term.Summary" data-inputId="Term_Summary"><textarea></textarea></div>
    </div>

    <div class="field">
        <label class="label">Technical Definition</label>
        <div class="editor" data-inputName="Term.TechnicalDefinition" data-inputId="Term_TechnicalDefinition"><textarea></textarea></div>
    </div>

    @if (ViewBag.Permissions.Contains(6))
    {
        <label class="label">Other Options</label>
        <div class="field toggle" typeId="groups">
            <input type="hidden" asp-for="Term.ApprovedYn">
            <input id="switch-groups" type="checkbox" name="switch-groups" class="switch is-rounded is-info settings-search-visiblity">
            <label for="switch-groups">Approved?</label>
        </div>
    }

</form>
